<script>
  var $ = jQuery;
  
  var ALERT_FADEIN_MILLIS  = 200;
  var ALERT_FADEOUT_MILLIS = 500;

  function closeAlert(id, callback) {
    var selection = $(id ? id : ".alert");
    if (selection.length > 0) {
      selection.fadeOut(ALERT_FADEOUT_MILLIS, callback); 
    }
  }
  
  function openAlert(id, callback) {
    var selection = $(id ? id : ".alert");
    if (selection.length > 0) {
      selection.fadeIn(ALERT_FADEIN_MILLIS, callback);
    }
  }
</script>
  
<style>
  .alert {
    position       : relative;
    width          : 100%;
    display        : inline-block;
    margin         : 0px 0px 0px 0px; 
    padding        : 10px 30px 10px 35px;
  }
  
  .alert strong {
    font-size      : 18px;
    opacity        : 0.5;
    top            : 9px;
    left           : 10px;
    position       : absolute;
  }

  .alert .message {
    display        : inline; 
    position       : relative;
    margin         : 0px;
    padding        : 0px;
    bottom         : 1px;
  }
  
  .alert .glyphicon.glyphicon-remove {
    position       : absolute;
    opacity        : 0.3;
    top            : 7px; 
    right          : 10px;
  }
  
  .alert .glyphicon.glyphicon-remove:hover {
    opacity        : 0.2;
    cursor         : pointer;
  }
</style>

<%
$ALERT_OPTIONS = {
  'danger'  => {
    'class'     => 'alert alert-danger',
    'glyphicon' => 'glyphicon glyphicon-remove-circle'
  },

  'warning' => {
    'class'     => 'alert alert-warning',
    'glyphicon' => 'glyphicon glyphicon-ban-circle'
  },

  'info'    => {
    'class'     => 'alert alert-info',
    'glyphicon' => 'glyphicon glyphicon-info-sign'
  },

  'success' => {
    'class'     => 'alert alert-success',
    'glyphicon' => 'glyphicon glyphicon-ok-circle'
  }
}
%>

<div style='display:none', id='<%= type %>'>
  <span class='<%= "#{$ALERT_OPTIONS[type]['class']} #{defined?(dismissable) ? (dismissable ? 'alert-dismissable' : '') : ''}" %>'>
    <strong>
      <span class='<%= $ALERT_OPTIONS[type]['glyphicon'] %>'>
      </span>
    </strong> 
    <span class='alert message'>
      <%= message %>
    </span>
    <span class='glyphicon glyphicon-remove', onclick="<%= "closeAlert('##{type}')" %>">
    </span>
  </span>
</div>

<script>
  openAlert('<%= "##{type}" %>');
</script>


