<section id="add">
	<form action="/" method="post">
	        <textarea name="post_title" placeholder="Add Post Title" ></textarea>
		<textarea name="content" placeholder="Add Post Contents"></textarea>
		<input type="submit" value="Add Post">
	</form>
</section>

<% @posts.each do |post| %>
    <div id="post">
	<article>
		<p>
			<%= post.content %>
			<span><a href="/<%= post.id %>">[edit]</a></span>
		</p>
		<p class="links">
			<a href="/<%= post.id %>/"><%=post.id %></a>
		</p>
		<p class="meta">Created: <%= post.created_at %></p>
	</article>
   </div>
<% end %>
