<div class="panel panel-default">
  <div class="panel-heading"><%= doc.image_name %></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12"> 
        <p>
          <% if doc.created_at != nil %> 
          Created at <b><%= doc.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%d/%m/%Y %H:%M") %></b> 
          <% end %>
          <% if doc.author != nil %>        
            by <i><%= doc.author %></i>
          <% end %>
        </p>   
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">        
        <div>
          <a href='<%= doc.image_url %>' target="_blank">  
            <img style="max-width : 100%; max-height : <%= height %>px; width  : auto; height : auto;" src='<%= doc.image_url %>'>
          </a>
        </div>
      </div>

      <div class="col-xs-6"> 
        <%= erb :graph, 
                :locals => { 'doc' => doc, 'height' => height } %>
      </div> 
    </div>
  </div>
</div>
